<!DOCTYPE html>
<html>

<head>
    <title>Coupon</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%/* If you want to discourage search engines from indexing this site, uncomment the following line: */%>
        <%/* <meta name="robots" content="noindex"> */%>


            <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

            <!--STYLES-->
            <link rel="stylesheet" href="/styles/importer.css">
            <!--STYLES END-->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>

<body>
    <!--TEMPLATES Navbar-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">

    <nav class="navbar is-warning">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/images/1.jpg">
            </a>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbar-main" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>
                <a class="navbar-item" href="/search">
                    Search
                </a>
                <a class="navbar-item" href="/create">
                    Create
                </a>
                <a class="navbar-item" href="/admin">
                    Admin
                </a>
                <a class="navbar-item" id='redeem' onclick="getMyRedeemedCoupons()">
                  My Redeemed Coupons
                </a>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field is-grouped">
                    <!-- <p class="control">
                        <a class="bd-tw-button button" target="_blank" href="http://localhost:1337/user/login">
                            <span class="icon">
                                <i class="fas fa-user-plus"></i>
                            </span>
                            <span>
                                Sign up
                            </span>
                        </a>
                    </p> -->
                    <p class="control">
                      <% if (!req.session || !req.session.userId) { %>
                        <a class="button is-dark" href="http://localhost:1337/user/login">
                            <span class="icon has-text-white-ter">
                                <i class="fas fa-sign-in-alt"></i>
                            </span>
                            <span>Login</span>
                        </a>
                        <% } %>
                    </p>
                </div>
            </div>
        </div>
        </div>
        <div class="level-right"></div>
        <%if (req.session == undefined || req.session.username == undefined ) {%>
        

                  <%}else{%>
                    Hi, <%=req.session.role%>
                    <p class="level-item "><p style="font-weight: 100; font-size: large;"> <%= req.session.username %> </p></p>
                    <a class="button is-danger" href="/user/logout">
                      <strong>logout</strong>
                    </a>      
          
                  <%}%>
    </nav>
    <!--TEMPLATES END-->

    <section class="section">
        <%- body %>
    </section>
    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script>
      async function getMyRedeemedCoupons() {
        var req = new Request("/getSession", { method: "GET", });
            await fetch(req).then(function (response) {
                return response.json();
            }).then(function (json) {
                session = json.session
                return session
            })
            if(!session.userId){
                location.assign("/user/login");//如果user不存在未登录，就跳转到user登录
            }else{
                location.assign("/Coupon/redeem");//如果user存在登录，就跳转到兑换
            }
      }
    </script>
</body>

</html>