<div class="form">
    <h5><%=<person class="name"></rent> %></h5>

    <div class="number">
        <div class="list1" id="div1"><br>
            <img class="img1" src="<%= person.img %>">
        </div>
        <br><br>
        <div class="list1" id="div2">
            <br>
            <ul class="list-group ">
                <li class="list-group-item"><b>Taste: </b><%= person.taste %></li>
                <br>
                <li class="list-group-item"><b>Price: </b><%= person.price %></li>
            </ul>
        </div>
        <br><br>
    </div>
    <br>
</div>